# templates/docker-compose.yml.j2

services:
  openldap:
    image: "{{ openldap_image }}"
    container_name: openldap_server
    privileged: true
    environment:
      - LDAP_ADMIN_USERNAME={{ openldap_admin_username }}
      - LDAP_ADMIN_PASSWORD={{ openldap_admin_password }}
      - LDAP_ROOT={{ openldap_root }}
    ports:
      - "1389:1389"
      - "1636:1636"
    volumes:
          - ldap_data:/var/lib/ldap
          - ldap_config:/etc/ldap/slapd.d
    restart: always

volumes:
  ldap_data:
  ldap_config: